.about-us-page {
    background-color: #FFF0D1; 
    margin: 0;
    font-family: 'Abhaya Libre';
}

.common-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 500px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.about-us-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    text-align: left; 
    width: 100%;
}

.about-us-left {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.about-us-title {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 20px; 
}

.about-us-text {
    font-size: 1.5rem;
    color: #664343;
    line-height: 1.6;
}

.about-us-image {
    width: 470px;
    border-radius: 30px;
    margin-left: 100px; 
}