@font-face {
  font-family: AbhayaLibre-regular;
  src: url(../../fonts/abhaya-libre/AbhayaLibre-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

.NavTabs{
  background-color: #FFF0D1;
  border-radius: 30px;
  display: flex;
  flex-shrink: 0;
  padding: 0;
  width: fit-content;
  overflow: auto;
}
  
  .NavTab {
    font-size: 18px;
    font-family: AbhayaLibre-regular;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    padding: 9px 11px;
    border-radius: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
  }
  
  .NavTab.activeTab {
    background: rgba(121, 87, 87, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 20px;
  }

  .NavTab.activeTab {
    margin: 0 20;
    border-color: black;
  }