.TrendingSection {
  display: flex;
  gap: 20px;
  width: 100%;
}

.TrendingPosts {
  flex: 0 0 70%; /* 80% width, no flexibility to grow/shrink */
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ActiveCampaigns {
  flex: 0 0 30%; /* 20% width, no flexibility to grow/shrink */
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.TrendingPostItem img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .TrendingSection{
    display: contents;
  }
  .ActiveCampaigns{
    display: none;
  }
  .TrendingPosts{
    margin: 20px auto;
  }
}