.post-containerV {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: all 0.3s ease;
  width: 100%; /* Default width is 100% */
  background-image: url("/src/Assets/petBg.jpg");
  background-size: 100% 100%;
}

.post-containerV.chatbot-active {
  width: 50%;
  transition: all 0.3s ease;
  background-image: url("/src/Assets/petBgVertical.jpg");
  background-size: 100% 100%;
}

.post-cardV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  width: 100%; /* Ensure it takes full width of its container */
  transition: all 0.3s ease; /* Smooth transition when resizing */
}

.post-titleV {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.post-contentV {
  font-size: 1.3rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
}

.chatbot-toggle-buttonV {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #4caf50;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chatbot-toggle-button img {
  width: 30px;
  height: 30px;
}

.chatbot-icon-activeV {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.chatbot-icon-inactiveV {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}
