* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.SidebarAndNavbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fafafa;
  width: 100%;
  padding: 0px 10px;
}

.navleft {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  width: 180px;
}

.navright {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between items in navright */
  margin-left: auto; /* Push navright to the far right */
  /* background-color: aqua; */
}

.chatNoti {
  margin-right: 50px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}

.chatNoti img {
  display: inline-flex;
  flex-direction: row;

  width: 45px;
}

.notiicon {
  border-radius: 30px;
  background-color: antiquewhite;
  margin-right: 10px;
  padding: 8px;
}

.chaticon {
  border-radius: 30px; /* Ensure it's a perfect circle */
  background-color: antiquewhite;
  padding: 8px;
  width: 100px; /* Increase the width of the circle */
}

.avatar {
  display: inline-flex;
  align-items: center;
  width: 60px;
  cursor: pointer;
  padding: 5px;
}

.homebottom {
  width: 100%; /* Make it span the full width of the container */
  background: #e2e2e2;
  height: calc(100vh - 60px); /* Full viewport height */

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background: #fafafa;
  position: relative;
}

.sidebar.closed {
  width: 50px; /* Collapsed width */
}

.sidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebarList .sidebarRow {
  width: 100%;
  height: 50px;
  /* background-color: aqua; */

  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebarList .sidebarRow:hover {
  cursor: pointer;
  background-color: #795757;
  color: whitesmoke;
}

.sidebarRow #sidebarIcon {
  flex: 20%;
  display: grid;
  place-items: center;
}

.sidebarRow #sidebarTitle {
  flex: 80%;
}

.lostAndFoundIcon {
  width: 24px;
}

/* sidebarbottom part */

.sidebarBottom {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.sidebarBottomImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.sidebarToggle {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.sidebarToggle img {
  width: 20px;
  height: 20px;
  z-index: 10;
}
